:root {
  --red: rgb(106, 22, 35) !important;
  --light-red: rgb(109, 50, 58);
  --grey: rgb(87, 87, 87);
  --light-grey: rgb(206, 206, 206);
  --black: black;
  --white: white;
  --box-shadow-dark: rgba(0, 0, 0, 0.324);
  --box-shadow-light: rgba(255, 255, 255, 0.091);
  --sans-serif: "Montserrat", sans-serif;
  --sans-serif-text: "Nunito", sans-serif;
  --monospace: "Space Mono", monospace;
  --bold: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--sans-serif);
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

hr {
  width: 25%;
  background-color: var(--grey);
  height: 1px;
  margin: 15px;
}

h1 {
  font-family: var(--sans-serif);
  font-size: 21px !important;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 8px 16px;
}

h2 {
  font-family: var(--sans-serif);
  font-size: 21px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 8px 16px;
}

h3 {
  font-family: var(--sans-serif);
  font-size: 17px !important;
  letter-spacing: 2px;
  padding: 8px 16px;
}

h4 {
  font-family: var(--bold);
  color: var(--grey);
  font-size: 15px !important;
  letter-spacing: 2px;
}

.subtitle {
  width: 40%;
  font-family: var(--sans-serif);
  font-size: 17px;
}

.container {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-coding1 {
  min-height: 100vh;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigation {
  background: white;
  transition: all 0.5s ease-in;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box {
  cursor: pointer;
  border: none;
  background-color: var(--white);
  width: 150px !important;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
  position: relative;
  border-radius: 30px;
  box-shadow: 12px 12px 16px 0 var(--box-shadow-dark),
    -5px -3px 16px 0 var(--box-shadow-light);
}

.box a,
p {
  text-decoration: none;
  color: var(--grey);
  font-family: var(--monospace);
  font-size: 15px;
  display: block;
  padding: 8px 16px;
  position: relative;
  overflow: hidden;
}

.box i {
  color: var(--red);
  font-size: 25px;
}

.coding .box i {
  color: var(--red);
  font-size: 75px;
}

.box:hover {
  transition: 0.2s ease-in;
  background: var(--red);
}

.box:hover > a,
.box:hover > p {
  color: var(--white);
}

.box:hover > i {
  color: var(--white);
}

.breadcrumbs a {
  text-decoration: none !important;
  color: var(--red) !important;
  transition: 0.2s ease-in;
}

.breadcrumbs a:hover {
  font-weight: 900;
  letter-spacing: 2px;
}

.file-link {
  color: var(--red);
  transition: 0.2s ease-in-out;
}

.file-link:hover {
  color: var(--red);
  transition: 0.2s ease-in-out;
  letter-spacing: 1.5px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .links {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .coding .box {
    height: 115px;
    width: 115px !important;
  }
  .coding .box {
    font-size: 9px !important;
  }

  .coding .box i {
    font-size: 35px;
  }
}
